In [1]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.0
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

In [41]:
import pymysql
import warnings
sql = """
CREATE TABLE product (
	id INT UNSIGNED NOT NULL AUTO_INCREMENT,
	name VARCHAR(20) NOT NULL,
	model_num VARCHAR(10) NOT NULL,
	model_type VARCHAR(10) NOT NULL,
	PRIMARY KEY(id)
);
"""
db = pymysql.connect(host = 'localhost', port = 3306, db='python_db', user='python',passwd='python') # pymysql로 db연동
cursor = db.cursor()
cursor.execute(sql)
db.commit

OperationalError: (1050, "Table 'product' already exists")

In [42]:
cursor.execute('drop table product')
cursor.execute('show tables')

6

In [20]:
db.close()

Error: Already closed

In [43]:
import pymysql

db = pymysql.connect(host = 'localhost', port = 3306, db='python_db', user='python',passwd='python') # pymysql로 db연동

try:
    with db.cursor() as cursor:
        cursor.execute(sql)                     # 데이터 업로드
        db.commit()                             # 파일올리기
        
        for num in range(10,20):
            name = 'S20' + str(num)
            # (name, model_number, model_type) << columns name // format 방법 '%' 로만 해야함
            ins_sql = "insert into product (name, model_num, model_type) values('"+name+"','7700','Phone')"
            #cursor.execute(ins_sql,(name, '7700', 'Phone'))  # value 자리에 %s 를 넣어줘야함
            cursor.execute(ins_sql) # value 자리에 바로 변수를 넣어줘서 보기가 편함
            print(ins_sql)
        db.commit()
        print(cursor.lastrowid)
finally:
    db.close()

insert into product (name, model_num, model_type) values('S2010','7700','Phone')
insert into product (name, model_num, model_type) values('S2011','7700','Phone')
insert into product (name, model_num, model_type) values('S2012','7700','Phone')
insert into product (name, model_num, model_type) values('S2013','7700','Phone')
insert into product (name, model_num, model_type) values('S2014','7700','Phone')
insert into product (name, model_num, model_type) values('S2015','7700','Phone')
insert into product (name, model_num, model_type) values('S2016','7700','Phone')
insert into product (name, model_num, model_type) values('S2017','7700','Phone')
insert into product (name, model_num, model_type) values('S2018','7700','Phone')
insert into product (name, model_num, model_type) values('S2019','7700','Phone')
10

In [71]:
import pymysql

db = pymysql.connect(host = 'localhost', port = 3306, db='python_db', user='python',passwd='python') # pymysql로 db연동

try:
    #select
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()   # fetchone 은 하나만 패치? // fetchall 은 모두 다 패치
        print(type(result), result)

        # update
        # update 쿼리문 >> 조건 + 핸드폰으로 변경 // %s 자리에 % 뒤에 정한 이름이 들어감
        upd_sql = "update product set model_type='%s' where name between 'S2010' and 'S2015'" % '핸드폰' 
        cursor.execute(upd_sql)
        db.commit() # update 니까 commit 써준다.
        print(cursor.rowcount)

        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        #print(type(result_list), result_list) 
        for row in result_list:
            print(row[0], row[1], row[2], row[3])
        
        # model_type 별로 group by 하는 쿼리 실행
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)

finally:
    db.close()

<class 'tuple'> (3, 'S2012', '7700', '핸드폰')
0
1 S2010 7700 핸드폰
2 S2011 7700 핸드폰
3 S2012 7700 핸드폰
4 S2013 7700 핸드폰
5 S2014 7700 핸드폰
6 S2015 7700 핸드폰
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone
('Phone', 4)
('핸드폰', 6)