In [2]:
!pip show pymongo

Name: pymongo
Version: 3.10.1
Summary: Python driver for MongoDB <http://www.mongodb.org>
Home-page: http://github.com/mongodb/mongo-python-driver
Author: Mike Dirolf
Author-email: mongodb-user@googlegroups.com
License: Apache License, Version 2.0
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:
You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Pymongo을 사용해서 MongoDB 제어하기

1. pymongo 라이브러리 import
2. MongoDB 접속
3. Database, Collection 생성
4. Collection의 document를 CRUD 하기

In [5]:
import pymongo

# MongoDB에 connetion 생성
conn = pymongo.MongoClient('localhost', 27017)
print(conn)

# database 생성
db = conn.pymongo_db # 맨 오른쪽이 db이름
print(db)
print(db.name) # db name comfirm

# collection 셍성
col = db.pymongo_col
print(col)
print(col.name)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db')
pymongo_db
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col')
pymongo_col

Insert_one(), Insert_many() 함수

In [20]:
post = {'author':'길동', 'text':'첫번째 글', 'tags':['mongodb', 'python', 'pymongo']}
result = col.insert_one(post)
print(result)
print(result.inserted_id) # 아이디 값 알아내기

<pymongo.results.InsertOneResult object at 0x0000020BEFDAE548>
5f2262268743d2f9a5e8719f

In [9]:
col.find()

In [11]:
for post in col.find():
    print(type(post))
    print(post)

<class 'dict'>
{'_id': ObjectId('5f225fe48743d2f9a5e87199'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [14]:
#document 갯수 알아내기
col.count_documents({})

1

In [15]:
posts = [
    {"author" : "둘리", 'age':10},
    {"author" : "바다", 'age':20},
    {"author" : "연못", 'age':30}
]
col.insert_many(posts)

In [33]:
print(col.count_documents({}))
for post in col.find({}):
    print(post)

7
{'_id': ObjectId('5f225fe48743d2f9a5e87199'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f2261618743d2f9a5e8719a'), 'author': '둘리', 'age': 10}
{'_id': ObjectId('5f2261618743d2f9a5e8719b'), 'author': '바다', 'age': 10}
{'_id': ObjectId('5f2261618743d2f9a5e8719c'), 'author': '연못', 'age': 10}
{'_id': ObjectId('5f2262138743d2f9a5e8719d'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f22621a8743d2f9a5e8719e'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f2262268743d2f9a5e8719f'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [34]:
for post in col.find({},{'author':1, 'age':1,'text':1, '_id':0}).sort('age',pymongo.DESCENDING):
    print(post)

{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 10}
{'author': '연못', 'age': 10}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}

collection 새로만들기

In [35]:
#employees collection 생성하기
emp = db.employees
print(emp)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'employees')

In [36]:
from datetime import datetime

datetime.strptime("2016-01-02",'%Y-%m-%d') # pymongo에선 ISODate 대신에 datetime.strptime

datetime.datetime(2016, 1, 2, 0, 0)

In [37]:
emp_list = [
  {"number":1001,"last_name":"Smith","first_name":"John","salary":62000,"department":"sales", "hire_date":datetime.strptime("2016-01-02", '%Y-%m-%d')},
  {"number":1002,"last_name":"Anderson","first_name":"Jane","salary":57500,"department":"marketing", "hire_date":datetime.strptime("2013-11-09", '%Y-%m-%d')},
  {"number":1003,"last_name":"Everest","first_name":"Brad","salary":71000,"department":"sales", "hire_date":datetime.strptime("2017-02-03", '%Y-%m-%d')},
  {"number":1004,"last_name":"Horvath","first_name":"Jack","salary":42000,"department":"marketing", "hire_date":datetime.strptime("2017-06-01", '%Y-%m-%d')}
]

emp.insert_many(emp_list)

In [52]:
for employee in emp.find():
    print(employee)

{'_id': ObjectId('5f22661c8743d2f9a5e871a0'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a1'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a2'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a3'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [60]:
# first_name like %a%
filter = {"first_name":{"$regex":"a"}}
filter = {"first_name":{"$regex":"^J"}}
filter = {"lirst_name":{"$regex":"h$"}}

from datetime import datetime
from_dt = datetime.strptime("2016-01-02", '%Y-%m-%d')
to_dt = datetime.strptime("2017-05-30", '%Y-%m-%d')
filter = {
    'hire_date':{"$gte":from_dt},
    "hire_date":{"$lte":to_dt}
}
filter = {
    "hire_date":{"$gte":from_dt, '$lte':to_dt}
}
filter = {
    "hire_date":{"$gte":from_dt, "$lte":to_dt},
}
filter = {
    "number":{"$in":[1001,1002]},
}

for employee in emp.find(filter,{"_id":0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}

In [79]:
### update_one(), update_many()
emp.update_one({'number':1001}, {'$set':{'department':'marketing'}})
# number = 1001, salary 62000-> 63000
emp.update_one({'number':1001}, {'$set':{'salary':'63000'}})
#emp.update_one({'number':1001}, {'$inc':{'salary':1000}})

In [74]:
for employees in emp.find():
    print(employees)

{'_id': ObjectId('5f22661c8743d2f9a5e871a0'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': '63000', 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a1'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a2'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('5f22661c8743d2f9a5e871a3'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [80]:
emp.update_many({}, {'$set':{'status':'A'}}) # 모든 document 값에 대하여 status field 새로 생성 후 값 'A'를 집어넣기

In [83]:
for employees in emp.find({},{'_id': 0}):
    print(employees)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': '63000', 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'A'}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'A'}

In [88]:
# update_many()
# number in [1003, 1004] status = 'B' 로 update

emp.update_many({'number':{'$in':[1003,1004]}}, {'$set':{'status':'B'}})
for employees in emp.find():
    print(employees)

{'_id': ObjectId('5f22661c8743d2f9a5e871a0'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': '63000', 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'_id': ObjectId('5f22661c8743d2f9a5e871a1'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'_id': ObjectId('5f22661c8743d2f9a5e871a2'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'B'}
{'_id': ObjectId('5f22661c8743d2f9a5e871a3'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'B'}

In [90]:
# delete_many()
# status = 'B' 인 employee 삭제하기
emp.delete_many({'status':'B'})
for employees in emp.find():
    print(employees)

{'_id': ObjectId('5f22661c8743d2f9a5e871a0'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': '63000', 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'_id': ObjectId('5f22661c8743d2f9a5e871a1'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}