In [3]:
my_str = '68화 마주한 것들'
print('화' in my_str)

True

In [4]:
my_index = my_str.index('화')  # index('값')
my_index

2

In [1]:
my_str[:my_index+1]

NameError: name 'my_str' is not defined

In [8]:
import re                       # 정규표현식 import

mystr="a\nb\rc\td"*3
#print(mystr)

regex = re.compile(r'[\n\r\t]')  # 이 문자들을 찾아
result = regex.sub(" ",mystr)    # 대체하다
result

'a b c da b c da b c d'

In [10]:
data_dict = {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}

import pandas as pd

df = pd.DataFrame(data_dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [15]:
df['d'] = [10,11,12]         # 각 a,b,c,d 컬럼을 year, month, day 라고 인식 >> 각 컬럼들의 값을 빼와서 계산해줌 >> def calc_age(dtob): 리턴값
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [14]:
for idx, row in df.iterrows():
    print(idx, row['a'],row['b'])  # a 컬럼의 값들 // b 컬럼의 값들

0 1 4
1 2 5
2 3 6